.nav_Links {
    color: #000000 !important;
    cursor: pointer;
    text-decoration: none !important;
    text-transform: capitalize;
    padding: 5px;
    border-radius: 5px;
    font-family: 'Poppins' !important;
    font-weight: 500 !important;
}

.nav_Links:hover {
    color: #e52e06 !important;
    text-decoration: none;
}

.company_logo {
    font-family: 'Poppins' !important;
}

.nav_splbutton {
    color: #000 !important;
    font-family: 'Poppins' !important;
    text-transform: capitalize !important;
}
.nav_splbutton:hover {
    color: #e52e06 !important;
}
.banner_carousel {
    overflow: hidden;
}
.bannerbtn{
    background-color: #e52e06 !important;
    border-radius: 50px !important;
    
    text-transform: capitalize !important;
    font-size: 15px;
    font-family: 'Poppins' !important;
    display: flex;
    align-items: center;
}
.slick-slider ul{
 bottom: 10px !important;
}

.banner_carousel_image {
    width: 100%;
    height: 60vh;
    background-size: cover;

}

.banner_main {
    position: relative;
    overflow: hidden;
}
.trendingCat_card:hover .trendingcat_img{
    scale: 1.1;
}
.trendingcat_img{
    transition:1.5s;
}


.banner_content {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0;
    display: flex;
    align-items: center;
}

.home_service {
    color: #003049;
    padding: 10px;
    border-radius:5px;
    position: relative;
    overflow: hidden;
    transition: .5s;
    cursor: pointer;
    /* border:2px solid  #003049; */
}
.home_service_icon * {
    font-size: 50px !important;
    transition: .5s;
}
.home_service_text{
    font-size: 20px;
    font-family: 'Poppins' !important;
    font-weight: 500;
}
.home_custom_banner{
    height: 300px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    background-color: #f8f8f8;
    justify-content:space-between;
}
.home_cb_img{
    height:250px;
    width: 250px;
}
.home_cb_img img{
   object-fit: cover;
   width: 100%;
   height: 100%;
}
.product_Card{
    border:2px solid #f8f8f8;
}
.product_Card_image {
    position: relative;
    min-width: 300px;
    min-height: 250px;
}
.product_Card_image img{
    object-fit: contain;
    transition: 1.5s;
}
.product_Card_hover{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: .5s;
}

.product_Card:hover .product_Card_image > .product_Card_hover{
    opacity: 100%;
}
.product_Card:hover .product_Card_image img{
   scale: 1.2;
}
.productCard_icon{
    background-color: #f8f8f8 !important;
}
.productCard_icon:hover{
    background-color: #e52e06 !important;
    color: #fff;
}
.footer_store_img{
    width: 160px;
   box-shadow: 0px 0px 20px 0px rgba(51, 51, 51, 0.1);;
   margin: 0px 5px;
    object-fit: contain;
    border-radius: 5px;
}
.footer_link{
   transition: .5s;
}
.footer_link:hover{
    color: #e52e06;
}
.productModal_Input > div{
    border-radius: 0;
}
.productModal_Input  input{
    height: 30px;
    text-align:center ;
    font-size: 14px;
    padding: 5px;
    border-radius: 0;
}
.productModal_Input  fieldset{
    border: 0 !important;
}

.quickView_Btn:hover{
    background: #eeefef !important;
    box-shadow: none !important;
}

.hasChild:hover .navDropdownContent{
    display: block;
    transition: .5s;
}
.sidemenu_dropdown > *{
    margin: 0 !important;
}
.sidemenu_dropdown.Mui-expanded{
    min-height: 0 !important;
}
.sortbyBtn > div{
    padding : 10px;
}
.ProductTitle{
    font-size:18px;
    color:#000;
    font-family:'Poppins';
    font-weight:500 !important;
    text-decoration:none!important;
}
.ProductTitle:hover{
  
    color:#e52e06;
    
}
.productImagesx{
    height: 100% !important;
        
}
.productImagesx img{
    height: 100% !important;

}
.productmobileImg{
    display:none;
}

@media(max-width:599px) {
    .productmainImg{
        display:none;
    }
    .productmobileImg{
        display:block;
    }
}
@media(max-width:900px) {
    .nav_Links {
        color: #000000 !important;
        display: block;
    }
    .banner_content {
        right: 0;
    }
}
