.nav_Links {
    color: #fff !important;
    cursor: pointer;
    text-decoration: none !important;
    text-transform: capitalize;
    padding: 5px;
    border-radius: 5px;
    font-family: 'Poppins' !important;
    font-weight: 500 !important;
}

.nav_Links:hover {
    color: #fff !important;
    text-decoration: none;
}

.company_logo {
    font-family: 'Poppins' !important;
}

.nav_splbutton {
    color: #fff !important;
    font-family: 'Poppins' !important;
    text-transform: capitalize !important;
}
.banner_carousel {
    overflow: hidden;
}

.banner_carousel_image {
    width: 100%;
    height: calc(100vh - 200px);
    object-fit: cover;
    border-radius: 50px;
}

.banner_main {
    position: relative;

    overflow: hidden;
    padding: 10px;
}

.banner_content {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home_service {
    color: #003049;
    padding: 10px;
    border-radius:5px;
    position: relative;
    overflow: hidden;
    transition: .5s;
    cursor: pointer;
    /* border:2px solid  #003049; */
}
.home_service_icon * {
    font-size: 50px !important;
    transition: .5s;
}
.home_service_text{
    font-size: 20px;
    font-family: 'Poppins' !important;
    font-weight: 500;
}
.home_custom_banner{
    height: 250px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    background-color: #fcc049c0;
    justify-content:space-between;
}
.home_cb_img{
    height:250px;
    width: 250px;
}
.home_cb_img img{
   object-fit: cover;
   width: 100%;
   height: 100%;
}
.product_Card{
    position: relative;
    
}

.product_Card_hover{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: .5s;
}

.product_Card:hover .product_Card_hover{
    opacity: 100%;
}
@media(max-width:900px) {
    .nav_Links {
        color: #000000 !important;
        display: block;
    }
    .banner_content {
        right: 0;
    }
}